@import './colors.css';

%base {
  font-size: 0.9rem;
  color: var(--dark-grey);
  background-color: transparent;
  border: none;
  outline: none;
}

%enabled {
  color: var(--light-blue);
  cursor: pointer;
}

%hover {
  color: var(--subdued-blue);
}
