:root {
  --almost-white: rgb(250, 250, 250);

  --lighter-grey: rgb(240, 240, 240);
  --light-grey: rgb(160, 160, 162);
  --dark-grey: rgb(113, 114, 116);
  --darker-grey: rgb(85, 84, 89);

  --alert-red: rgb(255, 135, 109);

  --light-blue: rgb(41, 178, 238);
  --subdued-blue: rgb(61, 156, 212);

  --20-percent-black: rgba(0, 0, 0, 0.2);
  --30-percent-black: rgba(0, 0, 0, 0.3);
  --40-percent-black: rgba(0, 0, 0, 0.4);

  --30-percent-white: rgba(255, 255, 255, 0.3);
}
