@import './colors.css';
@import './button.css';

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  font-size: 0.8rem;
  color: var(--darker-grey);
  width: 15rem;
  height: 2.5rem;
  padding: 0 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  outline: none;
}

.search-input:hover,
.search-input:focus {
  border-color: var(--dark-grey);
}

.search-submit-btn {
  @extend %base;
  height: 2.5rem;
  padding: 0 1.5rem;
}

.search-submit-btn:not([disabled]) {
  @extend %enabled;
}

.search-submit-btn:not([disabled]):hover {
  @extend %hover;
}
